 {% load static %}

<section class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-msg pull-left">
                    <h6>WELCOME TO TEAM7 BOEC</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-login pull-right">
                    <div class="curency pull-left">
                        <div class="current">
                            <span><a href="https://www.facebook.com/">LOG IN</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>